/***** Global *****/
/* Body */
body {
    background: #000000;
    background-image: url('../images/backdrop.jpg');
    background-position: center top; 
    background-repeat: no-repeat;
/*    background-size: contain; */
    min-height: 1515px ! important;
    color: #565b4b;
    font-size: 87.5%; /* Base font size: 14px */
    font-family: 'Trebuchet MS', Trebuchet, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.429;
    margin: auto auto;
    padding: 0 60px;
    text-align: center;
}

/* Headings */
h1 {font-size: 2em }
h2 {font-size: 1.571em}	/* 22px */
h3 {font-size: 1.429em}	/* 20px */
h4 {font-size: 1.286em}	/* 18px */
h5 {font-size: 1.143em}	/* 16px */
h6 {font-size: 1em}		/* 14px */
h1, h2, h3, h4, h5, h6 {
	font-weight: 600;
        font-family: 'Open Sans', sans-serif;
	line-height: 1.1;
	margin-bottom: .8em;
}
h3, h4, h5, h6 { margin-top: .8em; }
hr { margin: 0px 0px;
    margin-bottom: 0.5em;
border: 1px solid #565b4b; }

.center { text-align: center; }

/* Anchors */
a img {border: 0px; text-decoration: none; padding: 0px;}
a:link, a:visited {
	color: #bbbaab;
/*	padding: 0 1px;*/
	text-decoration: underline;
}
a:hover, a:active {
	background-color: #aaaa33;
	color: #fff;
	text-decoration: none;
	text-shadow: 1px 1px 1px #333;
}

h1 a:hover {
    background-color: inherit
}
	
/* Paragraphs */
p {margin-bottom: 1.143em;}

strong, b {font-weight: bold;}
em, i {font-style: italic;}

/* Lists */
ul {
	list-style: outside disc;
	margin: 1em 0 1.5em 1.5em;
}

ol {
	list-style: outside decimal;
	margin: 1em 0 1.5em 1.5em;
}

.post-info {
    float:right;
    margin-left:10px;
    margin-right:10px;
    padding:5px;
    max-width:200px;
}

.post-info p{
    margin-bottom: 1px;
}

.readmore { float: right }

dl {margin: 0 0 1.5em 0;}
dt {font-weight: bold;}
dd {margin-left: 1.5em;}

pre{background-color: #000; padding: 10px; color: #fff; margin: 10px; overflow: auto;}

/* Quotes */
blockquote {
    margin: 20px;
    font-style: italic;
}
cite {}

q {}

div.note {
   float: right;
   margin: 5px;
   font-size: 85%;
   max-width: 300px;
}

/* Tables */
table {margin: .5em auto 1.5em auto; width: 98%;}
	
	/* Thead */
	thead th {padding: .5em .4em; text-align: left;}
	thead td {}

	/* Tbody */
	tbody td {padding: .5em .4em;}
	tbody th {}
	
	tbody .alt td {}
	tbody .alt th {}
	
	/* Tfoot */
	tfoot th {}
	tfoot td {}
	
/* HTML5 tags */
header, section, footer,
aside, nav, article, figure {
	display: block;
}

/***** Layout *****/
.body {clear: both; margin: 0 auto;
    min-width: 760px;
    max-width: 1640px;
}
img.right, figure.right {float: right; margin: 0 0 2em 2em;}
img.left, figure.left {float: left; margin: 0 2em 2em 0;}

.column { vertical-align: top; display: inline-block; padding-left: 20px; padding-right: 20px; }
.column li { list-style: none; }
.credit { display: inline-block; width: 180px; text-align:left; }
.name { vertical-align: top; }


/*
	Header
*****************/
#banner {
	margin: 0 auto;
	padding: 0.5em 0 0 0;
}

#banner h1 {font-size: 3.571em; line-height: 0;}
#banner h1 a:link, #banner h1 a:visited {
	color: #000305;
	display: block;
	font-weight: bold;
	margin: 0 0 .6em .2em;
	text-decoration: none;
}
#banner h1 a:hover, #banner h1 a:active {
	background: none;
	text-shadow: none;
}

#banner h1 strong {font-size: 0.36em; font-weight: normal;}
#banner a:hover, #banner a:active,
#banner .active a:link, #banner .active a:visited {
	margin: 0 auto 0 auto;
	text-decoration: none;
	background: none;
}

/* Main Nav */
#banner nav {
	background: #000;
	font-size: 1.143em;
	height: 40px;
	line-height: 30px;
	margin: 0 auto 2em auto;
	padding: 0;
	text-align: center;
        min-width: 760px;
        max-width: 1640px;
	
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

#banner nav ul {list-style: none; margin: 0 auto;
    min-width: 760px;
    max-width: 1640px;
}
#banner nav li {float: left; display: inline; margin: 0;}

#banner nav a:link, #banner nav a:visited {
	color: #bbbaab;
	display: inline-block;
	height: 30px;
	padding: 5px 1.5em;
	text-decoration: none;
}
#banner nav a:hover, #banner nav a:active,
#banner nav .active a:link, #banner nav .active a:visited {
	background: #aaaa33;
	color: #000;
	text-shadow: none !important;
}

#banner nav li:first-child a {
	border-top-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-webkit-border-top-left-radius: 5px;
	
	border-bottom-left-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	-webkit-border-bottom-left-radius: 5px;
}

/*
	Featured
*****************/
#featured {
    text-align: justify;
    text-justify: inter-word;
	background: #000;
	margin-bottom: 2em;
	overflow: hidden;
	padding: 20px;
	min-width: 760px;
	max-width: 1600px;
	
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

#featured figure {
	border: 2px solid #eee;
	float: right;
	margin: 0.786em 2em 0 5em;
	width: 248px;
}
#featured figure img {display: block; float: right;}

#featured h2 {font-size: 1.714em; margin-bottom: 0.333em;}
#featured h3 {font-size: 1.429em; margin-bottom: .5em;}

#featured h3 a:link, #featured h3 a:visited {color: #000305; text-decoration: none;}
#featured h3 a:hover, #featured h3 a:active {color: #fff;}

/*
	Body
*****************/
#content {
    text-align: justify;
    text-justify: inter-word;
	background: #000;
	margin-bottom: 2em;
	padding: 20px 20px;
	min-width: 760px;
	max-width: 1600px;
	
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

.entry-content {
    min-height: 100px;
}

#featured img {
    max-width: 100%;
}

.entry-content img {
    max-width: 100%;
}

#posts-list .entry-content img {
    max-width: 25%;
}

#gallery img {
    max-width: 100%;
}

#gallery iframe {
      width: 100%;
      height: 200px;
      margin-bottom:0em;
}

/*.body iframe {
      width: 100%;
      height: 495px;
      margin-bottom:0em;
}

.iframe {
    margin-bottom: 0em;
}*/


/*
	Links
*****************/
#links {
    text-align: center;
	margin-bottom: 2em;
	overflow: hidden;
	padding: 20px 20px;
	min-width: 760px;
	max-width: 1600px;
}

#links span {
    display: inline-block;
    width: 33%;
    height: 2em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 2em;
}
#links a, #links h1 {
    display: inline;
    width: 220px;
    height: 44px;
    text-align: center;
    margin-left: auto;
    margin-right:auto;
    text-decoration: none;
    background-color: transparent;
}

#links a:link, #links a:visited {
    display: block;
    text-decoration: none;
    background-color: transparent;
}

#links a:hover, #links a:active {
    display: block;
    text-decoration: none;
    background-color: transparent;
}

#links a[href*='facebook.com']:link, #links a[href*='facebook.com']:visited {
    background-image: url('../images/facebookgreen.png');
    -moz-transition: background-image 0.25s 0s linear;
    -webkit-transition: background-image 0.25s 0s linear;
    -o-transition: background-image 0.25s 0s linear;
    transition: background-image 0.25s 0s linear;
}
#links a[href*='twitter.com']:link, #links a[href*='twitter.com']:visited {
    background-image: url('../images/twittergreen.png');
    -moz-transition: background-image 0.25s 0s linear;
    -webkit-transition: background-image 0.25s 0s linear;
    -o-transition: background-image 0.25s 0s linear;
    transition: background-image 0.25s 0s linear;
}
#links a[href*='facebook.com']:hover, #links a[href*='facebook.com']:active {
    background-image: url('../images/facebookgreen.png');
    -moz-transition: background-image 0.75s 0s linear;
    -webkit-transition: background-image 0.75s 0s linear;
    -o-transition: background-image 0.75s 0s linear;
    transition: background-image 0.75s 0s linear;
}
#links a[href*='twitter.com']:hover, #links a[href*='twitter.com']:active {
    background-image: url('../images/twittergreen.png');
    -moz-transition: background-image 0.75s 0s linear;
    -webkit-transition: background-image 0.75s 0s linear;
    -o-transition: background-image 0.75s 0s linear;
    transition: background-image 0.75s 0s linear;
}

/*
	Feeds
*****************/
#feeds {
	background: #000;
	margin-bottom: 2em;
	padding: 20px 20px;
	margin: 0px auto;
	min-width: 760px;
	max-width: 1600px;
	
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}
#feeds article {
        display: inline-block;
        width: 100%;
	min-height: 100px;
}

/*
	Credits
*****************/
.credits {
    font-family: 'Dorsa', 'Helvetica Narrow', 'Arial Narrow', Arial, sans-serif;
    font-size: 4em;/*43px;*/
/*    font-stretch: ultra-condensed;*/
    line-height: 0.8em;/*45px;*/
    padding: 0;
    margin-left:auto;
    margin-right:auto;
/*    width:70%;*/
}
#credits .nobreak {
    display: inline-block;
    white-space:nowrap;
}

#credits .lower {
    line-height: 0.8em;
    padding: 0;
    text-align:right;
    display: inline-block;
    font-size: 0.47em;/*20px;*/
}
#credits {
	/*font-family: 'Open Sans Condensed', sans-serif;*/
	text-align: center;
	background: #000;
	color: #fff;
	color: #bbbaab;
	margin-bottom: 2em;
	overflow: hidden;
	padding: 20px 20px;
	margin: 20px 20px;
/*	width: 865px;*/
	
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

/*
	Copyright
*****************/
credits {
    font-size: 0.5em;/*43px;*/
/*    font-stretch: ultra-condensed;*/
    padding: 0;
    margin-left:auto;
    margin-right:auto;
/*    width:70%;*/
}


/*
	Extras
*****************/
#extras {margin: 0 auto 3em auto; overflow: hidden;}

#extras ul {list-style: none; margin: 0;}
#extras h2 {border-bottom: 1px solid #fff;}
#extras h2 {
	color: #bbbaab;
	font-size: 1.429em;
	margin-bottom: .25em;
	padding: 0 3px;
	padding: .3em .25em;
}

#extras a:link, #extras a:visited {
	color: #444;
	display: block;
	text-decoration: none;
}

#extras a:hover, #extras a:active {color: #fff;}

/* Feeds */
#feeds div {
    text-align: justify;
    text-justify: inter-word;
	width: 49%;
}
#feeds img {
    display: block;
    float: left;
    width: 120px;
}
#feeds iframe {
    width: 100%;
    height: 245px;
}
#feeds div li {float: left; margin: 0 20px 0 0; width: 185px;}
#feeds div a {text-decoration: none;}
#feeds .news {float: left;}
#feeds .media {float: right;}
#feeds .info {float: right;}
#feeds .post-info {
    max-width:125px;
}

/*
	About
*****************/
#about {
	background: #000;
	font-style: normal;
	margin-bottom: 2em;
	overflow: hidden;
	padding: 20px;
	text-align: left;
	width: 760px;
	
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

#about .primary {float: left; width: 165px;}
#about .primary strong {color: #aaaa33; display: block; font-size: 1.286em;}
#about .photo {float: left; margin: 5px 20px;}

#about .url:link, #about .url:visited {text-decoration: none;}

#about .bio {float: right; width: 500px;}

/*
	Footer
*****************/
#contentinfo {padding-bottom: 2em; text-align: right;}

/***** Sections *****/
/* Blog */
.hentry {
	display: block;
	clear: both;
	border-bottom: 1px solid #eee;
	padding: 1.5em 0;
}
li:last-child .hentry, #content > .hentry {border: 0; margin: 0;}
#content > .hentry {padding: 1em 0;}
/* .hentry img{display : none ;} */
.entry-title {font-size: 3em; margin-bottom: 10px; margin-top: 0;}
.entry-title a:link, .entry-title a:visited {text-decoration: none; color: #bbbaab;}
.summary-title {font-size: 1.5em; margin-bottom: 10px; margin-top: 0; display: inline;}
.summary-title a:link, .summary-title a:visited {text-decoration: none; color: #bbbaab;}
.summary-title a:hover, .summary-title a:active {color: #fff;}

.hentry .post-info * {font-style: normal;}

	/* Content */
	.hentry footer {margin-bottom: 2em;}
	.hentry footer address {display: inline;}
	/* #posts-list footer address {display: block;} */

	/* Blog Index */
	#posts-list {list-style: none; margin: 0;}
	#posts-list .hentry {padding-left: 10px; min-height: 220px; position: relative;}
	
	#posts-list footer {
		left: 10px;
		position: relative;
        float: left;
		top: 0.5em;
		width: 190px;
	}
	
	/* Gallery */
	#gallery {list-style: none; margin: 0; text-align: center;}
	#gallery .hentry {padding-left: 10px; position: relative; }
	#gallery li {display:inline-block;margin-left:auto;margin-right: auto; width: 24%;}
	#gallery a:hover, #gallery a:active {background-color: #000;}
	#gallery div {text-align: left; display:inline-block; margin-left:auto;width:100%;margin-right: auto; vertical-align: middle; max-width: 100%;}
	#gallery p {margin: 0px;}
        .gallery-link {width: 100%; height: 100%}
	
	#gallery footer {
		left: 10px;
		position: relative;
        float: left;
		top: 0.5em;
		width: 190px;
	}

	/* About the Author */
	#about-author {
		clear: both;
		font-style: normal;
		margin: 2em 0;
		padding: 10px 20px 15px 20px;
		
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
	}
	
	#about-author strong {
		clear: both;
		display: block;
		font-size: 1.429em;
	}
	
	#about-author .photo {border: 1px solid #ddd; float: left; margin: 5px 1em 0 0;}
	
	/* Comments */
	#comments-list {list-style: none; margin: 0 1em;}
	#comments-list blockquote {
		background: #f8f8f8;
		clear: both;
		font-style: normal;
		margin: 0;
		padding: 15px 20px;
		
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
	}
	#comments-list footer {color: #888; padding: .5em 1em 0 0; text-align: right;}
	
	#comments-list li:nth-child(2n) blockquote {background: #F5f5f5;}
	
	/* Add a Comment */
	#add-comment label {clear: left; float: left; text-align: left; width: 150px;}
	#add-comment input[type='text'],
	#add-comment input[type='email'],
	#add-comment input[type='url'] {float: left; width: 200px;}
	
	#add-comment textarea {float: left; height: 150px; width: 495px;}
	
	#add-comment p.req {clear: both; margin: 0 .5em 1em 0; text-align: right;}
	
	#add-comment input[type='submit'] {float: right; margin: 0 .5em;}
	#add-comment * {margin-bottom: .5em;}
