{% extends "base.html" %}
{% block title %}DECAY Official Site: The LHC Zombie Film{% endblock %}
{% block nav %}
<!--<a id="topbar" href="{{ SITEURL }}">
<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="Decay" style="width:100%;height:auto;max-width:24%"><img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="Decay" style="width:100%;height:auto;max-width:24%"><img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="Decay" style="width:100%;height:auto;max-width:24%"></a>-->
{% endblock %}
{% block content %}
<div style="margin-left:auto;margin-right:auto;width:711px;height:400px;border:1px;border-color:#f00;padding: -1px -1px -1px -1px;">
<a id="video-play" href="" onclick="player.playVideo(); splashClick(); return false;"><img id="video-splash" src="/theme/images/video-overlay.jpg" alt="Decay Trailer" style="position:absolute;width:712px;height;400px"></a>
<div id="player"></div>
    <script>
      // 2. This code loads the IFrame Player API code asynchronously.
      var tag = document.createElement('script');
      tag.src = "//www.youtube.com/iframe_api";
      var firstScriptTag = document.getElementsByTagName('script')[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

      // 3. This function creates an <iframe> (and YouTube player)
      //    after the API code downloads.
      var player;
      function onYouTubeIframeAPIReady() {
        player = new YT.Player('player', {
          playerVars: {
            wmode: "opaque",
            'hd': 1,
            'fs': 1,
            'rel': 0,
            'modestbranding': true,
          },
          height: '400',
          width: '711',
          videoId: 'luNueXoAw3I',
          events: {
            'onReady': onPlayerReady,
            'onStateChange': onPlayerStateChange
          }
          //playerVars: {
                        //'hd': 1,
                        //'rel': 0,
                        //'fs': 1,
          //          },
          //console.debug(playerVars);
        });
      document.getElementById("player").setAttribute('webkitAllowFullScreen', 'true');
      document.getElementById("player").setAttribute('mozAllowFullScreen', 'true');
      }
function fadeInOut(obj, startValue, endValue) {
    var t = (startValue < endValue) ? 0 : 2;
    var fps = window.setInterval(function() {
            if (t >= endValue) {
                obj.style.opacity = t;
                obj.style.filter = "alpha(opacity = " + (t * 25) + ")";
                t -= 0.05;
            } else {
                t = 1;
                obj.hidden = true;
                window.clearInterval(fps);
            }
    }, 8);
}
      function splashClick() {
          var splash = document.getElementById("video-splash");
          fadeInOut(splash, 4, 0);
          //splash.hidden = true;
          //splash.style.WebkitTransition = 'opacity 1s';
          //splash.style.MozTransition = 'opacity 1s';
          //splash.style.Transition = 'opacity 1s';
          return false;
      }
      //splash.onclick = function() { player.playVideo(); };

      // 4. The API will call this function when the video player is ready.
      function onPlayerReady(event) {
        event.target.stopVideo();
      }

      // 5. The API calls this function when the player's state changes.
      //    The function indicates that when playing a video (state=1),
      //    the player should play for six seconds and then stop.
      function onPlayerStateChange(event) {
      }
      function stopVideo() {
        player.stopVideo();
      }
    </script>
</div>
{% if SOCIAL %}
<section id="links" class="body">
<p><h1 style="font-size: 3.2em;">PREMIERE SOLD OUT!</h1></p>
<span id="Facebook"><a href="http://www.facebook.com/decayfilm"></a></span>
<span id="Like-Button" style="margin-right: 44px;"><div class="fb-like" data-href="http://www.facebook.com/decayfilm" data-send="false" data-layout="box_count" data-width="90" data-show-faces="false"></div></span>
<span id="Twitter"><a href="http://www.twitter.com/decayfilm"></a></span>
</section>
{% endif %}

{% if SHOW_FEEDS %}
<section id="feeds" class="body">
{% for category, cat_articles in categories %}
{% if category.name in ["News",] and cat_articles %}
<div id="{{ category.name.lower() }}" class="{{ category.name.lower() }}">
<h2><a href="{{ category.url }}">{{ category.name }}</a></h2>
<hr />
{% for article in cat_articles[:3] %}
    <article>
        {% if not loop.first %}<hr />{% endif %}
        <h3 class="summary-title"><a href="{{ SITEURL }}{{ article.url }}">{{ article.title }}</a></h3>
        <div class="post-info">
            <abbr class="published" title="{{ article.date.isoformat() }}">{{ article.date.strftime("%a %d. %B") }}</abbr><br/>
            {% if article.author %}
            <address class="vcard author">
            By <a class="url fn" href="{{ SITEURL }}{{ article.author.url }}">{{ article.author }}</a>
            </address>
            {% endif %}
                    <a href="http://twitter.com/share" class="twitter-share-button" data-text="{{ article.title|striptags }}" data-url="{{ SITEURL }}{{ article.url }}" data-count="horizontal" data-via="{{TWITTER_USERNAME}}">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
                    <div class="fb-like" data-href="{{ SITEURL }}{{ article.url }}" data-send="true" data-layout="button_count" data-width="90" data-show-faces="false"></div>
            {% if DISQUS_SITENAME %}<a href="{{ SITEURL }}{{ article.url }}#disqus_thread">comments</a>{% endif %}
        </div>
        {{ article.content }}
    </article>
{% endfor %}
</div>
{% endif %}
{% endfor %}
{% for page in pages %}
{% if "Info" == page.title %}
<div id="{{ page.title.lower() }}" class="{{ page.title.lower() }}">
<h2 style="text-align:right;">
                {% if DISPLAY_PAGES_ON_MENU %}
                {% for this in PAGES %}
                  {% if this.title != "Info" %}
                    <a href="{{ SITEURL }}/{{ this.url }}">{{ this.title }}</a> | 
                  {% endif %}
                {% endfor %}
                {% endif %}
                {% for cat, null in categories %}
                  {% if not cat.name == "News" %}
                    <a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a>{% if not loop.last %} | {% endif %}
                  {% endif %}
                {% endfor %}
                </h2>
<!--<hr />-->
    <article>
        <hr />
        {{ page.content }}
    </article>
</div>
{% endif %}
{% endfor %}
<div style="clear:both;"></div>
</section>
{% endif %}

{% endblock %}
