{% extends "base.html" %}
{% block title %}DECAY{% endblock %}
{% block nav %}
<a id="topbar" href="{{ SITEURL }}">
<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="Decay" style="width:100%;height:auto;max-width:24%"><img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="Decay" style="width:100%;height:auto;max-width:24%"><img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="Decay" style="width:100%;height:auto;max-width:24%"></a>
{% endblock %}
{% block content %}
{% if SOCIAL %}
<section id="links" class="body">
{% for name, link in SOCIAL %}<span id="{{ name }}"><a href="{{ link }}"></a></span>{% endfor %}
</section>
{% endif %}

{% if articles %}
<section id="feeds" class="body">
{% for category, cat_articles in categories %}
{% if category.name in ["News", "Media"] and cat_articles %}
<div id="{{ category.name.lower() }}" class="{{ category.name.lower() }}">
<h2><a href="{{ category.url }}">{{ category.name }}</a></h2>
<hr />
{% for article in cat_articles[:3] %}
    <article>
        {% if not loop.first %}<hr />{% endif %}
        <h3 class="summary-title"><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h3>
        <div class="post-info">
            {% if article.author and not article.author == AUTHOR %}
            <address class="vcard author">
            By <a class="url fn" href="{{ SITEURL }}/{{ article.author.url }}">{{ article.author }}</a>
            </address>
            {% endif %}
            <abbr class="published" title="{{ article.date.isoformat() }}">{{ article.date.strftime("%a %d. %B") }}</abbr><br/>
            {% if DISQUS_SITENAME %}<a href="{{ SITEURL }}/{{ article.url }}#disqus_thread">comments</a>{% endif %}
        </div>
        {{ article.summary }}
    </article>
{% endfor %}
</div>
{% endif %}
{% endfor %}
</section>
{% endif %}

{% endblock %}
